
  <% if session[:user_id] %>
    <small>
      <a class="btn btn-success pull-right" href="/stores/new">
        Add a New store</a>
    </small>
  <% else %>
    <p>Sign In to Add Stores</p>
  <% end %>



 <% if session["history2"] %>
  
  <div class="recent clearfix">
    <h4>Your Recently Viewed Stores</h4>
    <% recent_stores = Store.find(session["history2"]) %>
    <% recent_stores.each do |store| %>
      <%= link_to image_tag(store.photourl, size: '20px'), store %>
    <% end %>
  </div>
<% end %> 

<% if session["history"] %>
  
  <div class="recent clearfix">
    <h4>Your Recently Viewed Products</h4>
    <% recent_products = Product.find(session["history"]) %>
    <% recent_products.each do |product| %>
      <%= link_to image_tag(product.photourl1, height: '150px'), product %>
    <% end %>
  </div>
<% end %> 

<h1> </h1>
<h1> </h1>



<!--<small>
    <%= link_to "Add a new store", "/stores/new" %>
</small>-->


<p><%= @stores.count %> stores shown.</p>
<%= paginate @stores %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th width="30%">Store name</th>
       <th width="60%"></th>
      <th>Store type</th>
      <th></th>
      <th></th>
    </tr>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td>
          <%= link_to store.name, "/stores/#{store.id}" %>
        </td>
        <td>
           <%= image_tag store.photourl %>
        </td>
        <td><%= store.kind %></td>

        <td><%= link_to "Delete", "/stores/#{store.id}", :method => "delete" %></td>
        <td><%= link_to "Edit", "/stores/#{store.id}/edit" %></td>
      </tr>
    <% end %>
  </tbody>
</table>