<h4> Products index</h4>

<% if session[:user_id] %>
    <small>
      <a class="btn btn-success pull-right" href="/products/new">
        Add a New Product</a>
    </small>
  <% else %>
    <p>Sign In to Add Products</p>
  <% end %>

<small>
    <%#= link_to "Add a new product", "/products/new" %>
</small>

<p><%= @products.count %> products shown.</p>
<%= paginate @products %>

<nav>  
  <form action="/products" role="search">   
        <input value="<%= params[:keyword4] %>" name="keyword4" type="text" placeholder="Enter product name ">
        <button type="submit">Search</button>
  </form>
</nav>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Product name</th>
      <th>Product type</th>
      <th>Belong to (store)</th>
      <th>Price</th>
      <th>Release date</th>
      <th>Delete</th>
      <th>Edit</th>
      
    </tr>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, "/products/#{product.id}" %></td>
        <td><%= product.kind %></td>
        <td><%= link_to product.store.name, "/stores/#{product.store_id}"%></td>
        <td><%= number_to_currency product.price %></td>
        <td><%= product.release_date%></td>
        <td><%= link_to "Delete", "/products/#{product.id}", :method => "delete" %></td>
        <td><%= link_to "Edit", "/products/#{product.id}/edit"%></td>
       
      </tr>
    <% end %>
  </tbody>
</table>