
<!-- Part1: right 2/3, pictures(big) -->
  
   <div >
     <h4>Product name: </h4>
     <p><%= @product.name%></p>
     <p><%= link_to "(edit)", "/products/#{@product.id}/edit" %></p>
       <nav>
	     <%= image_tag @product.photourl1 , size: '200x200'%>
	     <%= image_tag @product.photourl2 , size: '200x200'%>
	     <%= image_tag @product.photourl3 , size: '200x200'%>
       </nav>
       <p> Product Description: </p>
       <p> <%= @product.description %> </p>
   </div>
       

<!-- Part2: left 1/3, description, price, overview, add to cart, by lists -->
   <div >
     <h5> Overview: <%= @product.name %>  </h5>
       <ul>
          <li> Product kind: <%= @product.kind%> </li>
          <li> Product price: <%= number_to_currency @product.price %> </li>
          <li> Product designer: <%= @product.designer %> </li>
          <li> Product release date: <%= @product.release_date%> </li>
          <li> Product number in stock: <%= @product.in_stock %> </li>
          <li> Product sold: <%= @product.sold %> </li>
       </ul>
   </div>


<!-- Part3: beneath reviews, related_items -->